{% extends 'todo_list/base.html' %}

{% block body %}
<div class="container">
    <h1 class="mb-2 mt-3 ">Edit List</h1>
    <div class="mt-5">
        <form method="POST" action="" class="for">
        {% csrf_token %} {{form.as_p}}
        <a
        class="me-5 btn btn-outline-primary"
        href="{{request.META.HTTP_REFERER}}"
        >Go Back</a
      >
        <input class="btn btn-primary pe-3 ps-3" type="submit" value="Edit" />
        </form>
    </div>
  </div>
{% endblock body %}

</html>
